.moving-element {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}

.ghost {
  opacity: 0.2;
}

.hide-element {
  display: none !important;
}

.unselectable-element {
  user-select: none !important;
}
